body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.blackboard {
    position: relative;
    z-index: 1;
    background-image: url('images/board3.png');
    background-size:cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    width: 50vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
}

.categories {
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
    gap: 4%;
}

.column {
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;
}

.stickyContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 20%;
    width: 100%;
}

.category {
    width: 25%;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}

.stickyNote {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: url('images/paper.jpg');
    background-size: cover;
    background-blend-mode:darken;
    max-height: 20px;
    max-width: 20px;
    height: 7.5%;
    width: 5%;
    padding: 10%;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.thumbnail {
    width: 400%;
    height: 400%;
}

.imageBox {
    width: 25%;
    height: 25%;
}

.stickyText {
    color: #525156;
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    cursor: pointer;
}

#noteDetails {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    
   
    width: 25vw; 
    height: 25vw;
    background-image: url('images/paper.jpg');
    background-blend-mode: darken;
    padding: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#noteText {
    color: #525156;
    font-family: 'Indie Flower', cursive;
    font-size:30px
}

#closeButton {
    width: 10%;
    height: 10%;
    position: fixed;
    top: 5%;
    left: 5%;
}



@media (max-width: 960px) {
    .blackboard {
        width: 80vw;
        height: 50vw;
    }
}
